*{
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

.body{
    background-color: whitesmoke;
    height:  100vh;

}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, rgb(250, 79, 108), red);
    height: 60px;
}
.nav>h1{
    padding-top: 0px;
    color: white;
    text-align: center;
}
.fundo-p{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    padding: 10px 0px;
}
.grid-left>img{
    width: 140px;
    height: auto;
    padding: 0px;
    border-style:solid;
    border-radius: 100%;
}
.grid-left>img:hover{
    scale: 1.1;
    transition: 0.3s;
    border-style: solid;
}
.grid-right{
    padding: 20px 30px;
}
.grid-right>h1, p{
    color: black;
}
.grid-right>p{
    font-size: 15px;
}
.list ul li{
    list-style: none;
    color: gray;
    padding: 2px 0px;
}
.descricao-p{
    background-color: whitesmoke;
    padding: 30px 200px;
}
.rodape{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    height: 200px;
}
.rodape-f>footer>article>p>a{
    text-decoration: none;
    color: gray;
}
.icons{
    padding-bottom: 10px;
}
.icons-list{
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.icon-des>p{
    text-align: left;
}
.icon-des{
    width: 120px;
    height: 80px;
    background-color: white;
}
.icon-des:hover{
    background-color: whitesmoke;
    border: black 1px solid;
    scale: 1.05;
    transition: 0.5s;
}
.icon-des>a>img{
    width: 60px;
    height: auto;
    padding-top: 10px;
}
.fotos{
    background-color: pink;
    border-radius: 10px 10px 0px 0px;
    padding: 10px 0px 10px 0px;
}
.galeria-1{
    padding: 2px 0px 0px 0px;
}
.galeria-1>h1{
    text-align: center;
    padding: 2px 0px 10px 0px;
}
.fila-img{
    text-align: center;
    display: flex;
    justify-content: center;
}
.fila-img>img{
    width: 125px;
    height: auto;
    border-radius: 10px;
    margin: 10px;
}
.fila-img>img:hover{
    background-image: linear-gradient(white, white);
    border: black 1px solid;
    scale: 1.05;
    transition: 0.5s;
}
.feedback{
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    padding: 40px 0px 40px 0px;
}
.feed{
    background-color: white;
    width: 480px;
    display: grid;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin: 15px;
    padding: 5px 5px 5px 25px;
}
.perfil{
    display: flex;
}
.perfil>img{
    width: 50px;
    height: auto;
    border-radius: 100%;
}
.desc-f{
    display: grid;
}
.flex-f{
    display: flex;
}
.grid-f{
    display: grid;
    padding-left: 5px;
}
.grid-f>p>img{
    width: 20px;
    height: auto;
}
.desc-f{
    padding: 10px 0px 10px 0px;
}
.desc-img{
    padding: 10px 0px 10px 0px;
}
.desc-img>img{
    width: 120px;
    height: auto;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
}
.tabela{
    background-color: white;
    width: 1500px;
    height: 490px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.servico{
    display: grid;
    justify-content: center;
    text-align: center;
}
.t-card>h1{
    padding: 20px 0px 20px 0px;
}
.cards-t{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.v1>p{
    padding: 10px 0px 10px 0px;
}
.v1>img{
    width: 260px;
    height: auto;
    border-radius: 10px;
}
.v1>img:hover{
    border-style: solid;
    transition: 0,1s;
}
.v2>img{
    width: 260px;
    height: 260px;
    border-radius: 10px;
}
.v2>img:hover{
    border-style: solid;
    transition: 0,1s;
}
.v3>img{
    width: 260px;
    height: auto;
    border-radius: 10px;
}
.v3>img:hover{
    border-style: solid;
    transition: 0,1s;
}
button{
    width: 260px;
    height: 30px;
    border-radius: 10px;
    border-style: none;
    background-image: linear-gradient(to right, rgb(250, 79, 108), red);
}
button>p{
    color: white;
}
